{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'anime/style.css' %}" />
  <title> User List </title>
</head>
<style>

</style>
<body>
            <img src="{% static 'anime/images/Logo_anime_seek.png' %}" width="120px" height="80px" align="left">
            <br>
            <br>
            <br>
            <br>
            <br>
        <div class="top_nav">
            <ul>
            <li><a href="{% url 'anime:home' user.id %}"> Home </a></li>
            <li><a href="{% url 'anime:data' user.id %}">Animes</a></li>
            <li><a  href="{% url 'anime:utilizadores' user.id %}">Otakus</a></li>
            <li><a class="active" href="{% url 'anime:amigos' user.id %}">A seguir</a></li>
            <li><a href="{% url 'anime:my_list' user.id %}">A minha lista</a></li>
            <div class="top_nav_right">
                <li><a href="{% url 'anime:logoutview' %}">  Logout  </a></li>
            </div>
            </ul>
        </div>
        <br>
        {%if list%}      
            {% for l in list %}             
                <div class="u">
                    <a href="{% url 'anime:user' user.id l.following.id %}">
                    <div class="con">                        
                        <div class="outline_image">
                            {% if l.following.otaku.path_image == "" %}
                                <img src="{% static 'anime/images/default.jpg' %}"  class="user_img">
                            {% else %}
                                <img src="/anime/static/media/{{l.following.id}}.jpg"  class="user_img">
                            {% endif %}
                        </div> 
                        
                        <div class="username_style">
                            <h3>
                            {{l.following.username}}
                            </h3>
                        </div>

                    </div>  
                    </a>
                </div>
            {%endfor%}
        {% else %}
            <p> Ainda não tens amigos adicionados. Para adicionar vai a <a href="{% url 'anime:utilizadores' user.id %}">Otakus</a>, clica no amigo e segue-o :) Diverte-te</p>
        {%endif%}
</body> 