{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'anime/style.css' %}" />
  <title> My List </title>
</head>
<style>

</style>
<body>
            <img src="{% static "anime/images/Logo_anime_seek.png" %}" width="120px" height="80px" align="left">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="top_nav">
                <ul>
                <li><a href="{% url "anime:home" user.id %}"> Home </a></li>
                <li><a href="{% url "anime:data" user.id %}">Animes</a></li>
                <li><a href="{% url "anime:utilizadores" user.id %}">Otakus</a></li>
                <li><a href="{% url "anime:amigos" user.id %}">A seguir</a></li>
                <li><a class="active" href="{% url "anime:my_list" user.id %}">A minha lista</a></li>
                <div class="top_nav_right">
                    <li><a href="{% url "anime:logoutview" %}">  Logout  </a></li>
                </div>
                </ul>
            </div>
            <br>
            {% if list %}
            {% for i in list%}
                <div class="gallery">
                    <a href="{% url 'anime:detail' i.anime.id user.id%}">
                        <img src="{{i.anime.logo}}">
                    </a>
                    <div class="desc">
                        <div class="title">
                            <h5>{{i.anime}}</h5>
                        </div>
                        <div class="generos">
                            <p>{{i.anime.generos}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {%else%}
            <p> Ainda não tens animes adicionados. Para adicionar vai a <a href="{% url "anime:data" user.id %}">Animes</a>, clica no anime que estás a fazer e adiciona :) Diverte-te</p>
        {% endif %}
</body> 

